# Create a SQL-lite database to hold our csv files

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.orm import Session

# Our Create Statement
engine = create_engine("sqlite:///hawaii.sqlite")

## Creating classes for the stations and measures tables

In [2]:
class stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float(64))
    longitude = Column(Float(64))
    elevation = Column(Float(64))
    
class measures(Base):
    __tablename__ =  'measures'
    id = Column(Integer, primary_key=True)
    station = Column(String, primary_key=True)
    date = Column(String)
    prcp = Column(Float(64))
    tobs = Column(Integer(64))

TypeError: object() takes no parameters

In [3]:
#sending the tables to our SQL Lite Server
Base.metadata.create_all(engine)

# Making it ready for manipulation
session = Session(bind=engine)

### Load the data using Pandas

In [4]:
import pandas as pd
stations_df = pd.read_csv('resources/hawaii_stations.csv', encoding='utf-8',)
measures_df = pd.read_csv('resources/clean_measures.csv',encoding='utf-8', index_col='Unnamed: 0').drop('nulls', axis=1)

In [5]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       19550 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 763.7+ KB

## Send our CSV data to the sql server

In [6]:
for row in stations_df.iterrows():
    session.add(stations(id=row[0],station=row[1]['station'], name=row[1]['name'], latitude=row[1]['latitude'], 
                         longitude=row[1]['longitude'], elevation=row[1]['elevation'],))
session.commit()

IntegrityError: (sqlite3.IntegrityError) datatype mismatch [SQL: 'INSERT INTO stations (id, station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))]

In [7]:
for row in measures_df.iterrows():
    session.add(measures(id=row[0],station=row[1]['station'], date=row[1]['date'], prcp=row[1]['prcp'],
                        tobs=row[1]['tobs']))
session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) table stations has no column named id [SQL: 'INSERT INTO stations (id, station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))]

## Check and see if we can access it

In [17]:
pd.read_sql("SELECT * FROM measures", engine).head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.03    73