# Create a SQL-lite database to hold our csv files

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.orm import Session

# Our Create Statement
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [4]:
measures.head(5)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.03    73

## Creating classes for the stations and measures tables

In [5]:
class stations(Base):
    __tablename__ = 'stations'
    station = Column(String, primary_key=True)
    name = Column(String)
    latitude = Column(Float(10))
    longitude = Column(Float(10))
    elevation = Column(Float(10))
    
class measures(Base):
    __tablename__ =  'measures'
    station = Column(String, primary_key=True)
    date = Column(String)
    prcp = Column(Float(10))
    tobs = Column(Integer)

In [10]:
#sending the tables to our SQL Lite Server
Base.metadata.create_all(engine)

# Making it ready for manipulation
session = Session(bind=engine)

### Load the data using Pandas

In [19]:
import pandas as pd
stations_df = pd.read_csv('resources/hawaii_stations.csv', encoding='utf-8',)
measures_df = pd.read_csv('resources/clean_measures.csv',encoding='utf-8', index_col='Unnamed: 0').drop('nulls', axis=1)

## Send our CSV data to the sql server

In [20]:
measures_df.to_sql('measures', engine,
                flavor=None, schema=None, 
                if_exists='replace', index=False)
stations_df.to_sql('stations', engine,
                flavor=None, schema=None, 
                if_exists='replace', index=False)